html, body {
    height: 100%;
    height: 100%;
}

title {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: "uppercase";
    color: #4d5ae5;
    }
.WEB {
    color: #4d5ae5;
}
body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
    display: block;
    margin: auto;
    }

header {
    width: 1440px;
    height: 72px;
    display: flex;
    margin-bottom: 120px;
}

.container {
    width: 1158px;
}

.container-1, .topline, .contact {
    container: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container-2, .dark {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-3, 



.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.bg-fiolet {
    background-color: #434455;
    }

.topline {
    color: var(--NAVY-BLUE, #2E2F42);
    font-family: "Roboto";
    font-size: 16px;
    font-style: "normal";
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    display: inline;
    }
    

a:hover {
    color: red;
}

.contact {
    color: var(--SLATE, #434455);
    font-family: "Roboto";
    font-size: 16px;
    font-style: "normal";
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-decoration: "none";
    display: inline;
    
    }


.dark {
    background: var(--NAVY-BLUE, #2E2F42);
    width: 1440px;
    height: 600px;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
     }
    
h1 {
    color: var(--WHITE, #FFF);
    font-family: "Roboto";
    font-size: 56px;
    font-style: "normal";
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    inset: 0;
    margin: auto;
    }

.button {border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    inset: 0;
    margin: auto;
    }

h2 {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: "center";
    font-family: "Roboto";
    font-size: 36px;
    font-style: "normal";
    font-weight: 700;
    line-height: 40px;
    /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: "capitalize";
}

h3 {
    width: 264px;
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: "Roboto";
        font-size: 20px;
        font-style: "normal";
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;

}

p {
    width: 264px;
        color: var(--SLATE, #434455);
        font-family: "Roboto";
        font-size: 16px;
        font-style: "normal";
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
}

.name, ul, li, p, h3 {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: "center";
        font-family: "Roboto";
        font-size: 20px;
        font-style: "normal";
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.4px;
        display: inline;
}

.name1 {
        width: 264px;
        color: var(--SLATE, #434455);
        font-family: "Roboto";
        font-size: 16px;
        font-style: "normal";
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
        display: inline-flex;
       
}

.end {
    background: var(--NAVY-BLUE, #2E2F42);
}

.STUDIO {
    color: #FFF;
}

.text {
        color:#FFF;
        font-family: "Roboto";
        font-size: 16px;
        font-style: "normal";
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.32px;
  }

.container-6 {
    width: 1140px;
    height: 312px;
   
}
